
.barber-container {
  padding: 20px;
  margin: 80px;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  
}

.barber-table {
  width: 100%;
  border-collapse: collapse;
}

.barber-table th, .barber-table td {
  padding: 16px; /* Increased padding for better spacing */
  text-align: left;
}

/* Removed vertical border */
.barber-table th {
  background-color: #f8f9fa;
}

/* Action Buttons */
.action-buttons {
  display: flex;
  gap: 5px; /* Space between buttons */
}

.action-button {
  border: none; /* Remove border */
  cursor: pointer; /* Change cursor to pointer */
  transition: background-color 0.2s; /* Transition for hover effect */
}

.action-button:hover {
  background-color: #e0e0e0; /* Light grey background on hover */
}

/* Profile Icon */
.profile-icon {
  font-size: 1.5em; /* Size of the profile icon */
  margin-right: 8px; /* Space between icon and text */
}

/* Pagination Styles */
.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.pagination-info {
  padding: 2.5px;
  font-size: 14px; /* Font size for pagination info */
}

.pagination {
  display: flex;
  gap: 5px; /* Space between pagination buttons */
}

/* Pagination Button */
.pagination-button {
  border: 1px solid #007bff; /* Blue border */
  background-color: #fff; /* White background */
  color: #007bff; /* Blue text */
  padding: 5px 10px; /* Padding for button */
  cursor: pointer; /* Pointer cursor on hover */
}

.pagination-button:hover {
  background-color: #007bff; /* Blue background on hover */
  color: white; /* White text on hover */
}

.pagination-button.active {
  background-color: #007bff; /* Active page button color */
  color: white; /* Active button text color */

}

